*{
    box-sizing: border-box;
}
.tablet{
    background: linear-gradient( 135deg,#EC86EE, #5BD1FE);
    min-width: 15rem;
    max-width: 10rem;
    height: 18vh;
    border-radius: 70px;
    margin: 40vh auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: color 3s linear;
}

.bi{
    font-size: 50px;
    transition-duration: 3s;
}

.holders{
    position: relative;
    width: 30%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    width: 140%;
    height: 140%;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    transition: width 2s ;
    z-index: 1;
    /* display: none;  */
    
}

.button:hover{
    width: 160%;
    border-radius: 70px;
    transition: width 1s, border-radius 2s;
    
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
    color: #ffffff;
    transition-duration: 3s;
}


.si::before, [class^="si-"]::before, [class*=" si-"]::before{
    padding-right: 2px;
    transform: rotate(-35deg) scale(1);
    transition-duration: 3s;
}

.mi::before, [class^="mi-"]::before, [class*=" mi-"]::before{
    padding-right: 2px;
    transform: rotate(10deg) scale(1);
    transition-duration: 3s;
}


